<html>
    <head>
        <title>Travelblog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>This is my first post</p>
    </body>
</html>

<h1>YAY</h1>
<h2>yay yay</h2>
<h3>nothing special</h3>
<p>A unicorn called pummel
Visiting the sky
Eating cookies</p>
<em>Real delicious cookies</em>
<strong>Chocolate cookies</strong>
<br />
<a href="https://djangogirls.org">link</a> creates a link
<ul><li>first item</li><li>second item</li></ul>
<div></div>
<div>
            <p>published: 14.06.2014, 12:14</p>
            
